/* ================== */
     /* Resets */
/* ================== */

/* --- Box.sizing --- */
*, 
*::before,
*::after {
    box-sizing: border-box;
}

/* --- Reset margins --- */
body, 
h1, h2, h3,
h4, h5, h6,
p, figure,
picture {
    margin: 0;
}

h1, h2, h3, h4,
h5, h6, p {
    font-weight: 400;
}

/* --- Images --- */
img, 
picture {
    max-width: 100%;
}

/* ================== */
 /* Custom properties */
/* ================== */
:root {
    /* --- Colors --- */
    --primary-dark: 158, 36%, 37%;
    --primary-cream: 30, 38%, 92%;

    --neutral-x-dark: 212, 21%, 14%;
    --neutral-dark-blue: 228, 12%, 48%;
    --neutral-white: 0, 0%, 100%;

    /* --- font-sizes --- */
    --fs-700: 1.5rem;
    --fs-500: 1rem;

    /* --- Font-families --- */
    --ff-montserrat: 'Montserrat', sans-serif; 
    --ff-fraunces: 'Fraunces', serif;
}


/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Fraunces', serif; */

/* ===================== */
       /* Utility */
/* ===================== */
/* --- Colors --- */
.bg-pr-dark { background-color: hsl(var(--primary-dark));}
.bg-pr-cream { background-color: hsl(var(--primary-cream));}
.bg-neutral-x-dark { background-color: hsl(var(--neutral-x-dark));}
.bg-neutral-dark-blue { background-color: hsl(var(--neutral-dark-blue));}
.bg-neutral-white { background-color: hsl(var(--neutral-white));}

.text-pr-dark { color:  hsl(var(--primary-dark));}
.text-pr-cream { color:  hsl(var(--primary-cream));}
.text-neutral-x-dark { color:  hsl(var(--neutral-x-dark));}
.text-neutral-dark-blue { color:  hsl(var(--neutral-dark-blue));}
.text-neutral-white { color:  hsl(var(--neutral-white));}

/* --- Typography --- */
.ff-montserrat {font-family: 'Montserrat', sans-serif;}
.ff-fraunces {font-family: 'Fraunces', serif;}

.fs-700 { font-size: var(--fs-700); }
.fs-500 { font-size: var(--fs-500); }

.uppercase { text-transform: uppercase; }

.letter-spacing { letter-spacing: 2.35px;}

/* ===================== */
        /* Main */
/* ===================== */
/* --- Body setup --- */
body {
   display: grid; 
}




/* 
Mobile: 375px, 20em
tablet: 560px ,35em
Desktop: 1440px, 45em
*/